/* Container */
.container {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}
.mg-xxl-top-bottom {
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-xxl);
}

/* Column */
.column-layout {
  display: flex;
}