/* Container */
.container {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}


/* Column */
.column-layout {
  display: flex;
}

.column-half {
  flex: 1 0 50%;
}

.column-third {
  flex: 1 0 33.33333%;
}

.column-quarter {
  flex: 1 0 25%;
}


/* Headers */
.page-header {
  text-align: center;
}

/* Wrapper */
.wrapper-beige {
  background: var(--white-dark);
}