/* Container */
.container {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}


/* Column */
.column-layout {
  display: flex;
  flex-wrap: wrap;
}

.column-half {
  flex: 1 0 50%;
  padding-bottom: var(--space-xl);
}

.column-half.column-one {
  padding-right: var(--space-xl);
}

.column-half.column-two {
  padding-left: var(--space-xl);
}

.column-third {
  flex: 1 0 33.33333%;
}

.column-quarter {
  flex: 1 0 25%;
}


/* Headers */
.page-header {
  text-align: center;
}

/* Wrapper */
.wrapper-beige {
  background: var(--white-dark);
  box-shadow: var(--shadow-lighter);
}



/* Laptop 11 inches */
@media screen and (max-width: 1000px) {
  /* Up to that screen width, the following rules apply: */
  .container {
    width: 720px;
  }
}

/* iPad */
@media screen and (max-width: 760px) {
  /* Up to that screen width, the following rules apply: */
  .container {
    width: 520px;
  }
}

/* Mobile (Iphone, Pixel, Galaxy) */
@media screen and (max-width: 560px) {
  /* Up to that screen width, the following rules apply: */
  .container {
    width: 310px;
  }

  .column-third, .column-half, .column-quarter {
    flex: 1 0 100%;
  }

  .column-half.column-one, .column-half.column-two {
    padding-right: 0;
    padding-left: 0;
  }
}
