:root {
  /* Margins and paddings */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 3rem;

  /* Breakpoints */
  --screen-xl: 1200px;
  --screen-lg: 992px;
  --screen-md: 768px;
  --screen-sm: 576px;
  --screen-xs: 0px;

  /* Containers */
  /* --width-xs: 0px;
  --width-sm: 576px;
  --width-md: 768px;
  --width-lg: 992px;
  --width-xl: 1200px; */

  /* Radius */
  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 6px;

  /* Navbar */
  --navbar-height: 65px;
}