.image-centered {
  background-position: center;
  background-size: cover;
}

/* Paddings */
.pd-md {
  padding: var(--space-md);
}

.pd-lg-sides {
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
}

.pd-lg-top-left {
  padding-top: var(--space-lg);
  padding-left: var(--space-lg);
}

.pd-lg-left {
  padding-left: var(--space-lg);
}

.pd-lg-right {
  padding-right: var(--space-lg);
}

/* Margins */
.mg-xxl-top {
  margin-top: var(--space-xxl);
}