/* Images */
.image-centered {
  background-position: center;
  background-size: cover;
}


/* Text */
.text-center {
  text-align: center;
}


/* Paddings */
.pd-md {
  padding: var(--space-md);
}

.pd-lg {
  padding: var(--space-lg);
}

.pd-lg-sides {
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
}

.pd-xl-left {
  padding-left: var(--space-xl);
}

.pd-xl-right {
  padding-right: var(--space-xl);
}

.pd-xxl-top {
  padding-top: var(--space-xxl);
}

.pd-xxl-bottom {
  padding-bottom: var(--space-xxl);
}




/* Margins */
.mg-xxl-top {
  margin-top: var(--space-xxl);
}

.mg-xxl-bottom {
  margin-bottom: var(--space-xxl);
}

.mg-md-top {
  margin-top: var(--space-md);
}

.mg-xxl-top-bottom {
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-xxl);
}

.mg-xl-bottom {
  margin-bottom: var(--space-xl);
}

.mg-lg-bottom {
  margin-bottom: var(--space-lg);
}

.mg-md-bottom {
  margin-bottom: var(--space-md);
}

.mg-lg-right {
  margin-right: var(--space-lg);
}
