/* Container */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: auto;
  grid-gap: 5%;
}

.grid > * {
  margin-bottom: var(--space-xxl);
}

/* Laptop 11 inches */
@media screen and (max-width: 1070px) {
  /* Up to that screen width, the following rules apply: */
  .grid {
    grid-template-columns: repeat(2, 2fr);
  }
}

/* iPad */
@media screen and (max-width: 850px) {
  /* Up to that screen width, the following rules apply: */
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Mobile (Iphone, Pixel, Galaxy) */
@media screen and (max-width: 560px) {
  /* Up to that screen width, the following rules apply: */
}
