.badge {
  font-size: var(--text-small-size);
  font-weight: 300;
  padding: 0 var(--space-xs);
  border-radius: var(--radius-sm);
  width: fit-content;
}

.badge.badge-big {
  font-size: var(--text-size);
}

.badge-green {
  color: var(--hubsy-green);
  background: var(--hubsy-green-light);
}

.badge-red {
  color: var(--hubsy-red);
  background: var(--hubsy-red-light);
}