.button {
  padding: 10px 24px;
  border-radius: var(--radius-md);
  transition: all 200ms ease;
  font-weight: 700;
}

.button:hover {
  /* transform: translateY(2px); */
  box-shadow: var(--shadow-light);
}

/* Button plain */
.button-beige {
  box-shadow: var(--shadow-lighter);
  background: var(--hubsy-beige);
  color: white;
}


/* Button transparent */
.button-beige-transparent {
  border: 2px solid var(--hubsy-beige);
  color: var(--hubsy-beige);
}


.button-green-transparent {
  /* background: white; */
  border: 2px solid var(--hubsy-green);
  color: var(--hubsy-green);
}