.card {
  width: 100%;
  background: white;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-lighter);
  transition: all 500ms ease;
  cursor: pointer;
}

.card-picture {
  transition: all 500ms ease;
  height: 135px;
  width: 100%;
}

.card:hover {
  box-shadow: var(--shadow-light);
  /* transform: scale(1.02, 1.02); */
}

.card:hover .card-picture {
  background-position: 50% 45%;
}

.card-content {
  display: flex;
}

.card-text-container {
  flex: 1 1 auto;
}

.card-text-container h2 {
  margin-bottom: var(--space-sm);
}

.card-text-container p {
  color: var(--black-light);
}

.card-badge-container {
  display: flex;
  align-items: flex-end;
}

.card-content-badge {
  display: flex;
  align-items: flex-end;
}
