.card {
  width: 100%;
  background: white;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-lighter);
  margin-top: var(--space-lg);
  transition: all 200ms ease;
}

.card:hover {
  box-shadow: var(--shadow-light);
}

.card-picture {
  height: 100px;
  width: 100%;
}

.card-content {
  display: flex;
}

.card-text-container {
  flex: 1 1 auto;
}

.card-text-container h2 {
  margin-bottom: var(--space-sm);
}

.card-text-container p {
  color: var(--black-light);
}

.card-badge-container {
  display: flex;
  align-items: flex-end;
}

.card-content-badge {
  display: flex;
  align-items: flex-end;
}

.card-badge {
  font-size: 14px;
  font-weight: 300;
  padding: 0 var(--space-xs);
  border-radius: var(--radius-sm);
}

.badge-green {
  color: var(--hubsy-green);
  background: var(--hubsy-green-light);
}

.badge-red {
  color: var(--hubsy-red);
  background: var(--hubsy-red-light);
}
