.disclaimer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: var(--radius-sm);
  padding: var(--space-md);
  margin-top: var(--space-xxl);
}

.disclaimer p {
  font-weight: 400;
  color: var(--black-light)
}

/* Mobile (Iphone, Pixel, Galaxy) */
@media screen and (max-width: 760px) {
  /* Up to that screen width, the following rules apply: */
  .disclaimer {
    flex-direction: column;
    text-align: center;
  }
  
  .disclaimer p {
    font-weight: 600;
    padding-bottom: var(--space-lg);
  }
}