.footer {
  background: var(--white-normal);
  width: 100%;
}

.footer h3 {
  color: var(--black-normal);
  font-weight: 700;
  margin-bottom: var(--space-md);
}

.footer-element {
  color: var(--black-normal);
  font-size: var(--text-size);
  font-weight: 400;
  cursor: pointer;
  display: block;
  margin-bottom: var(--space-xs);
}

.footer-button {
  display: inline-block;
  border: 1px solid var(--black-normal);
  padding: var(--space-xs) var(--space-sm);
  margin-top: var(--space-sm);
  border-radius: var(--radius-md);
}

.footer-bottom {
  background: var(--black-light);
  padding: var(--space-xs) 0;
}

.footer-bottom-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-bottom h4 {
  color: white;
  font-size: var(--text-small-size);
}

.footer-bottom-element {
  color: white;
  font-size: var(--text-small-size);
  font-weight: 300;
  margin-left: var(--space-lg);
}