.footer {
  background: var(--white-normal);
  width: 100%;
}

.footer h3 {
  color: var(--black-dark);
  font-weight: 700;
  margin-bottom: var(--space-md);
}

.footer-column {
  padding-bottom: var(--space-lg)
}

.footer-element {
  color: var(--black-normal);
  font-size: var(--text-size);
  font-weight: 400;
  cursor: pointer;
  display: block;
  margin-bottom: var(--space-xs);
}

.footer-button {
  display: inline-block;
  border: 1px solid var(--black-normal);
  padding: 2px 8px;
  margin-top: var(--space-sm);
  border-radius: var(--radius-md);
}


/* Thin black banner at the bottom */
.footer-bottom {
  background: var(--black-dark);
  /* padding: var(--space-xs) 0; */
}

.footer-bottom-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-bottom h4 {
  color: white;
  font-size: var(--text-small-size);
}

.footer-bottom-element {
  color: white;
  font-size: var(--text-small-size);
  font-weight: 300;
  margin-left: var(--space-lg);
  text-decoration: underline;
}




/* Mobile (Iphone, Pixel, Galaxy) */
@media screen and (max-width: 560px) {
  /* Up to that screen width, the following rules apply: */
  .footer-bottom-container {
    flex-direction: column;
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
  }

  .footer-bottom-element {
    margin-left: 0;
    margin-top: var(--space-sm)
  }
}