.hero-image {
  height: var(--hero-height);
  width: 100%;
  animation: fadein 3500ms;
  position: relative;
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(var(--space-xxl) * 2.2);
  background: var(--white-lighter);
  border-radius: var(--radius-xs) 0 0 0;
  box-shadow: var(--shadow-top);
}

.arrow {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow:hover {
  background: var(--white-normal);
}

.arrow img {
  width: 15px;
}

.arrow#left img {
  transform: rotate(90deg) translateY(1px);
  
}

.arrow#right img {
  transform: rotate(-90deg) translateY(1px);
}

/* iPad */
@media screen and (max-width: 760px) {
  .hero-image {
    height: var(--hero-height-mobile);
  }

  .arrows {
    width: 100%;
    justify-content: space-between;
    background: transparent;
    box-shadow: none;
    padding: 0 var(--space-lg);
    bottom: calc(var(--space-lg));
  }

  .arrow {
    flex-basis: auto;
    width: var(--space-xl);
    height: var(--space-xl);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--white-lighter);
    box-shadow: var(--shadow-dark);
    opacity: 0.8;
  }

  .arrow:hover {
    background: var(--white-lighter);
  }

  .arrow img {
    width: 12px;
  }
}

/* Mobile (Iphone, Pixel, Galaxy) */
/* @media screen and (max-width: 560px) {

} */