#map, .mapboxgl-map {
  width: 100%;
  height: 100%;
}

.marker {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--shadow-light);
  transition: all ease 200ms;
}

.marker:hover {
  box-shadow: var(--shadow-dark);
}

.mapboxgl-popup-content {
  padding-top: var(--space-md) !important;
  padding-bottom: var(--space-md) !important;
  padding-left: var(--space-md) !important;
  padding-right: var(--space-lg) !important;
}

.mapboxgl-popup-content h3 {
  color: var(--black-normal);
  font-size: 16px;
}

.mapboxgl-popup-content p {
  color: var(--black-light);
  margin-top: var(--space-xs);
  font-weight: 400;
  font-size: 14px;
}

.mapboxgl-popup-close-button {
  top: 6px !important;
  right: 9px !important;
}

/* Icons on top of the map */
.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-top-right {
  z-index: 0 !important;
}
