#map, .mapboxgl-map {
  width: 100%;
  height: 100%;
}

.marker {
  background-size: cover;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.mapboxgl-popup-content {
  padding-top: var(--space-md) !important;
  padding-bottom: var(--space-md) !important;
  padding-left: var(--space-md) !important;
  padding-right: var(--space-lg) !important;
}

.mapboxgl-popup-content h3 {
  color: var(--black-normal);
  font-size: 16px;
}

.mapboxgl-popup-content p {
  color: var(--black-light);
  margin-top: var(--space-xs);
  font-weight: 400;
  font-size: 14px;
}

.mapboxgl-popup-close-button {
  top: 6px !important;
  right: 9px !important;
}
