.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  height: var(--navbar-height);
  box-shadow: var(--shadow-light);
  z-index: 1;
}

.navbar-placeholder {
  width: 100%;
  height: var(--navbar-height);
}

.navbar-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar-side {
  display: flex;
  align-items: center;
  flex-basis: 45%;
  height: 100%;
}

.navbar-logo {
  flex-basis: 10%;
  text-align: center;
}

.navbar-logo img {
  width: var(--navbar-height);
}

#navbar-left {
  justify-content: flex-end;
}

#navbar-right {
  justify-content: flex-start;
}

.navbar-element > *:not(.navbar-dropdown) {
  color: var(--black-normal);
  font-size: var(--text-size);
  font-weight: 400;
  margin: 0 var(--space-lg);
  position: relative;
  cursor: pointer;
}

.navbar-element:visited {
  color: var(--black-normal);
}

.navbar-element:hover > *:not(.navbar-dropdown) {
  border-bottom: 1px solid var(--black-normal);
  border-top: 1px solid transparent;
}

.navbar-language > img {
  width: 20px;
  margin: var(--space-sm) var(--space-lg) 0 var(--space-lg);
}

/* Dropdown */
.navbar-dropdown {
  opacity: 0;
  display: none;
  background: white;
  position: absolute;
  top: var(--space-xxl);
  min-width: fit-content;
  overflow: visible;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-light);
}

.navbar-dropdown-item {
  padding: var(--space-md) var(--space-lg);
}

.navbar-dropdown-item h3 {
  color: var(--black-normal);
  font-size: 16px;
 }

 .navbar-dropdown-item img {
  width: 18px;
  margin-right: var(--space-sm);
 }

.navbar-dropdown-item:hover {
  background: var(--white-dark);
}

.navbar-dropdown-item-flex {
  display: flex;
  align-items: center;
}

.navbar-dropdown#booking {
  width: 300px;
}

.navbar-dropdown.dropdown-active {
  display: block;
  opacity: 1;
}



.navbar-mobile {
  display: none;
}


/* Responsiveness */
@media screen and (max-width: 992px) {
  /* Up to that screen width, the following rules apply: */
  .navbar, .navbar-placeholder {
    display: none;
  }

  .navbar-mobile {
    display: block;
  }
}


