.navbar-mobile {
  position: fixed;
  bottom: -100vh;
  left: 0;
  right: 0;
  height: 115vh;
  /* box-shadow: var(--shadow-light); */
  z-index: 1;
}

.navbar-mobile-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: var(--space-lg);
  height: 15vh;
}

#menu-button {
  background: var(--hubsy-green);
  width: calc(var(--navbar-height) / 1.2);
  height: calc(var(--navbar-height) / 1.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#menu-button img {
  width: calc(var(--navbar-height) / 3);
}

.navbar-mobile-content {
  background: var(--white-lighter);
  height: 100vh;
  position: relative;
}

.navbar-mobile-active {
  transform: translateY(-100vh);
  transition-property: all;
	transition-duration: 600ms;
	transition-timing-function: cubic-bezier(0.18, 0.89, 0.36, 1);
}

.corner {
  width: calc(var(--navbar-height) * 1.3);
  height: calc(var(--navbar-height) * 1.3);
  background: white;
  padding: var(--space-lg);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  display: flex;
}

.corner img {
  width: 20px;
}

#close-button img {
  width: 15px;
}

.top-right {
  top: 0;
  right: 0;
  border-radius: 0% 100% 0% 100% / 0% 0% 100% 100%;
  align-items: flex-start;
  justify-content: flex-end;
}

.bottom-right {
  bottom: 0;
  right: 0;
  border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
  align-items: flex-end;
  justify-content: flex-end;
}

.bottom-left {
  bottom: 0;
  left: 0;
  border-radius: 0% 100% 0% 100% / 100% 100% 0% 0%;
  align-items: flex-end;
  justify-content: flex-start;
}