.mobile {
  display: none;
  position: fixed;
  left: -100vw;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: calc(100vh);
  z-index: 1;
}

.mobile-right {
  background: transparent;
  flex-basis: 15%;
  height: 100%;
}

/* Nav content */
.mobile-content {
  background: var(--white-lighter);
  height: 120vh;
  overflow-y: hidden;
  flex-basis: 85%;
  box-shadow: var(--shadow-dark);
  position: relative;
  display: flex;
}

/* Skewed box */
.mobile-background {
  z-index: 1;
  height: 60%;
  width: 120%;
  transform: rotate(4deg);
  background: var(--white-normal);
  position: absolute;
  left: -10%;
  top: -10%;
  /* box-shadow: var(--shadow-light); */
}

.mobile-content-container {
  display: flex;
  padding: var(--space-md);
  width: 100%;
  height: fit-content;
}

.mobile-content-main {
  height: 100%;
  padding: var(--space-md);
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 2;
}

/* Last mobile element */
.mobile-content-main a:nth-child(7) div {
  margin-bottom: 0;
}


.mobile-links {
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* padding: var(--space-xxl) var(--space-lg); */
  z-index: 2;
}

/* Links */
.mobile-element {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  border-radius: var(--radius-sm);
  text-align: center;
  padding: var(--space-xs) 0;
  box-shadow: var(--shadow-lighter);
  margin-bottom: var(--space-xl);
}

a .mobile-element  {
  color: var(--black-normal);
  font-size: var(--text-size);
  font-weight: 600;
}

#mobile-main {
  background: var(--hubsy-green);
}

a > #mobile-main {
  color: white;
}



/* Animation */
.mobile-in {
  transform: translateX(100vw);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.mobile-out {
  transform: translateX(-100vw);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

/* Corners with images */
.square {
  background: white;
  border-radius: var(--radius-sm);
  width: calc(var(--navbar-height) * 0.6);
  height: calc(var(--navbar-height) * 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--space-md);
}

.square img {
  width: 20px;
}

/* .corner {
  width: calc(var(--navbar-height) * 1.2);
  height: calc(var(--navbar-height) * 1.1);
  background: white;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.36, 1);
  padding: var(--space-md);
  position: absolute;
  display: flex;
  z-index: 2;
}

.corner img {
  width: 20px;
} */

/* #close-button img {
  width: 14px;
} */

/* .top-right {
  top: 0;
  right: 0;
  border-radius: 0% 100% 0% 100% / 0% 0% 100% 100%;
  align-items: flex-start;
  justify-content: flex-end;
}

.bottom-right {
  bottom: 0;
  right: 0;
  border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
  align-items: flex-end;
  justify-content: flex-end;
}

.bottom-left {
  bottom: 0;
  left: 0;
  border-radius: 0% 100% 0% 100% / 100% 100% 0% 0%;
  align-items: flex-end;
  justify-content: flex-start;
} */


/* Links global containers */



@media screen and (max-width: 850px) {
  /* Up to that screen width, the following rules apply: */
  .mobile {
    display: flex;
  }
}



/* Top border */
/* .mobile-content-border {
  border-top: 2px solid var(--hubsy-beige);
  z-index: 3;
  width: 100%;
  height: 5px;
  position: fixed;
} */
