.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  height: var(--navbar-height);
  box-shadow: var(--shadow-light);
  z-index: 1;
}

.navbar-placeholder {
  width: 100%;
  height: var(--navbar-height);
}

.navbar-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar-side {
  display: flex;
  align-items: center;
  flex-basis: 45%;
  height: 100%;
}

.navbar-side-container {
  display: flex;
}

.navbar-logo {
  flex-basis: 10%;
  text-align: center;
}

.navbar-logo img {
  width: var(--navbar-height);
}

#navbar-left {
  justify-content: flex-end;
}

#navbar-right {
  justify-content: flex-start;
}

.navbar-element > *:not(.navbar-dropdown) {
  color: var(--black-normal);
  font-size: var(--text-size);
  font-weight: 400;
  margin: 0 var(--space-lg);
  position: relative;
  cursor: pointer;
}

.navbar-element:visited {
  color: var(--black-normal);
}

.navbar-element:hover > *:not(.navbar-dropdown) {
  border-bottom: 1px solid var(--black-normal);
  border-top: 1px solid transparent;
}

.navbar-language {
  border: 1px solid var(--black-lightest);
  border-radius: 2px;
  padding: var(--space-xs);
  display: flex;
  justify-content: space-around;
  width: 55px;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--shadow-light);
}

.navbar-language > img:nth-child(1) {
  width: 20px;
}

.navbar-language > img:nth-child(2) {
  width: 8px;
}

/* Dropdown */
.navbar-dropdown {
  opacity: 0;
  display: none;
  background: white;
  position: absolute;
  top: var(--space-xxl);
  min-width: fit-content;
  overflow: visible;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-lighter);
}

.navbar-dropdown-item {
  padding: var(--space-md) var(--space-lg);
}

.navbar-dropdown-item h3 {
  color: var(--black-normal);
  font-size: 16px;
 }

 .navbar-dropdown-item img {
  width: 18px;
  margin-right: var(--space-sm);
 }

.navbar-dropdown-item:hover {
  background: var(--white-normal);
}

.navbar-dropdown-item-flex {
  display: flex;
  align-items: center;
}

.navbar-dropdown#booking {
  width: 300px;
}

.navbar-dropdown.dropdown-active {
  display: block;
  opacity: 1;
}

.navbar-mobile {
  display: none;
}


/* Laptop 11 inches */
@media screen and (max-width: 1000px) {
  /* Up to that screen width, the following rules apply: */
  .navbar-element > *:not(.navbar-dropdown) {
    font-size: var(--text-small-size);
    margin: 0 var(--space-md);
  }

  .navbar-logo img {
    width: calc(var(--navbar-height) / 1.5);
  }

  /* The flag in the navbar, not the one in the dropdown */
  .navbar-language {
   width: 30px;
   padding: 0;
  }
  
  .navbar-language > img:nth-child(1) {
    width: 15px;
  }
  .navbar-language > img:nth-child(2) {
    display: none;
  }

  /* the language dropdown, not the reservation one */
  .navbar-language .navbar-dropdown {
    right: 2px;
  }
}

@media screen and (max-width: 760px) {
  /* Up to that screen width, the following rules apply: */
  .navbar, .navbar-placeholder {
    display: none;
  }

  .navbar-mobile {
    display: block;
  }
}

