.navbar-mobile {
  position: fixed;
  bottom: -100vh;
  left: 0;
  right: 0;
  height: calc(100vh + 100px);
  /* box-shadow: var(--shadow-light); */
  z-index: 1;
}

/* Button triggering the nav */
.navbar-mobile-top {
  /* display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: var(--space-lg); */
  height: 100px;
  width: 100px;
  margin-left: auto;
}

#menu-button {
  background: var(--hubsy-green);
  width: var(--navbar-height);
  height: var(--navbar-height);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--shadow-dark);
}

#menu-button img {
  width: calc(var(--navbar-height) / 3);
}



/* Nav content */
.navbar-mobile-content {
  background: var(--white-lighter);
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

/* Skewed box */
.navbar-mobile-content-background {
  z-index: 1;
  height: 60%;
  width: 120%;
  transform: rotate(4deg);
  background: var(--white-dark);
  position: relative;
  left: -10%;
  top: -10%;
  box-shadow: var(--shadow-light);
}

/* Top border */
.navbar-mobile-content-border {
  border-top: 2px solid var(--hubsy-beige);
  z-index: 3;
  width: 100%;
  height: 5px;
  position: fixed;
}

/* Swipe up animation */
.navbar-mobile-active {
  transform: translateY(-100vh);
  transition-property: all;
	transition-duration: 600ms;
	transition-timing-function: cubic-bezier(0.18, 0.89, 0.36, 1);
}

/* Corners with images */
.corner {
  width: calc(var(--navbar-height) * 1);
  height: calc(var(--navbar-height) * 1);
  background: white;
  padding: var(--space-md);
  position: absolute;
  display: flex;
  z-index: 2;
}

.corner img {
  width: 20px;
}

#close-button img {
  width: 14px;
}

.top-right {
  top: 0;
  right: 0;
  border-radius: 0% 100% 0% 100% / 0% 0% 100% 100%;
  align-items: flex-start;
  justify-content: flex-end;
}

.bottom-right {
  bottom: 0;
  right: 0;
  border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
  align-items: flex-end;
  justify-content: flex-end;
}

.bottom-left {
  bottom: 0;
  left: 0;
  border-radius: 0% 100% 0% 100% / 100% 100% 0% 0%;
  align-items: flex-end;
  justify-content: flex-start;
}


/* Links global containers */
.navbar-mobile-content-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 56%;
  margin: 0 22%;
  z-index: 4;
}

.navbar-mobile-content-bottom, .navbar-mobile-content-top {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-xxl) 0;
}

/* Links */
.navbar-mobile-element {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  border-radius: var(--radius-lg);
  text-align: center;
  padding: var(--space-xs) 0;
  box-shadow: var(--shadow-lighter);
}

.navbar-mobile-element > a {
  color: var(--black-normal);
  font-size: var(--text-size);
  font-weight: 600;
}

#navbar-mobile-main {
  background: var(--hubsy-green);
}

#navbar-mobile-main > a {
  color: white;
}