.review {
  width: 100%;
  background: white;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-lighter);
  min-height: 12rem;
}

.review-padding {
  width: 100%;
  height: 100%;
}

.review-top {
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.review-bottom {
  height: 75%;
  text-align: left;
}

.review-owner p {
  margin: 0;
}

.review-stars img {
  width: 15px;
  margin-left: var(--space-xs);
}

