.concept-image {
  height: 100%;
  width: 100%;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-lighter);
}

.text-column {
  flex: 1 0 55%;
  padding-right: var(--space-xl);
}

.picture-column {
  flex: 1 0 45%;
  padding-left: var(--space-xl);
}

.image-left .picture-column {
  order: -1;
  padding-right: var(--space-xl);
  padding-left: 0;
}

.image-left .text-column {
  padding-left: var(--space-xl);
  padding-right: 0;
}



@media screen and (max-width: 560px) {
  /* Up to that screen width, the following rules apply: */
  .text-column, .picture-column {
    flex: 1 0 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .text-column {
    padding-top: var(--space-xl);
  }

  .picture-column {
    height: 300px;
    order: -1;
  }

  .image-left .picture-column, .image-left .text-column {
    padding-left: 0;
    padding-right: 0;
  }

  /* .image-left .text-column {
    padding-left: var(--space-xl);
    padding-right: 0;
  } */
}