.home-hero {
  height: 72vh;
  width: 100%;
  /* background-position: center;
  background-size: cover; */
}

#title {
  font-size: var(--title-size);
  font-weight: 800;
  letter-spacing: var(--negative-letter-spacing);
  color: var(--black-dark);
}

#caption {
 font-size: var(--h2-size);
 font-weight: 400;
 color: var(--black-normal);
}

.brand-container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-container-top h1 {
  margin: 0;
}

.referral-container {
  margin: var(--space-xxl 0);
  text-align: center;
}

.referral-container-images img {
  width: 90px;
  margin: var(--space-xl);
}
