.home-hero {
  height: 75vh;
  width: 100%;
  animation: fadein 1200ms;
}

#title {
  font-size: var(--title-size);
  font-weight: 800;
  letter-spacing: var(--negative-letter-spacing);
  color: var(--black-dark);
}

#caption {
 font-size: var(--h2-size);
 font-weight: 400;
 color: var(--black-normal);
}

.brand-container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-container-top h1 {
  margin: 0;
}

.wrapper-beige h3 {
  color: var(--black-dark);
}

.referrals img {
  width: 90px;
  margin: var(--space-xl);
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* iPad */
@media screen and (max-width: 760px) {
  /* Up to that screen width, the following rules apply: */
  .brand-container-top {
    display: block;
  }

  .brand-container-top h1 {
    margin-bottom: var(--space-xl);
  }
}

/* Mobile (Iphone, Pixel, Galaxy) */
@media screen and (max-width: 560px) {
  /* Up to that screen width, the following rules apply: */
}