.home-hero {
  display: flex;
  align-items: flex-start;
}

#title {
  font-size: var(--title-size);
  font-weight: 800;
  letter-spacing: var(--negative-letter-spacing);
  color: var(--black-dark);
}

#caption {
 font-size: var(--h2-size);
 font-weight: 400;
 color: var(--black-normal);
}

.brand-container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-container-top h1 {
  margin: 0;
}

.testimonials {
  position: relative;
}

.testimonials h3 {
  color: var(--black-dark);
}

.testimonials-subtitle {
  color: var(--black-light);
}

#google {
  position: absolute;
  right: var(--space-md);
  top: var(--space-md);
}

#google img {
  width: 25px;
}

.reviews img {
  width: 15px;
}


.referrals img {
  width: 90px;
  margin: var(--space-xl);
}

/* iPad */
@media screen and (max-width: 760px) {
  /* Up to that screen width, the following rules apply: */
  .brand-container-top {
    display: block;
  }

  .brand-container-top h1 {
    margin-bottom: var(--space-xl);
  }
}

/* Mobile (Iphone, Pixel, Galaxy) */
@media screen and (max-width: 560px) {
  /* Up to that screen width, the following rules apply: */
}