.prices {
  background: white;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-light);
}

.prices .column-half {
  flex: 0 0 47%;
}

.prices-container {
  background: var(--hubsy-beige);
  padding: var(--space-xl);
  border-radius: var(--radius-lg) 0 0 var(--radius-lg);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.prices-container * {
  color: white;
}

.prices-cap p {
  opacity: 0.9;
}

.prices-cap * {
  margin-bottom: 0;
}




.benefits-container {
  padding: var(--space-xl);
  padding-left: 0;
  padding-right: var(--space-xl);
}

.benefits-container h2 {
  color: var(--hubsy-beige);
  margin-bottom: var(--space-xxl)
}