#pricing-page .column-layout {
  background: white;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-light);
}

.prices {
  flex: 1 1 40%;
}

.benefits {
  flex: 1 1 60%;
}

.prices-container {
  padding: var(--space-xxl);
  background: var(--hubsy-beige);
  border-radius: var(--radius-lg) 0 0 var(--radius-lg);
  height: 100%;
}

.prices-container * {
  color: white;
}

.prices-container > h2:first-child {
  margin-bottom: var(--space-lg);
  font-size: var(--h1-size);
  font-weight: 800;
  opacity: 1;
}

.prices-container h2 {
  opacity: 0.94;
  margin-bottom: var(--space-lg);
}

.prices-container p {
  opacity: 0.85;
}

.prices-cap * {
  margin-bottom: 0;
}

.prices-cap h2 {
  margin-bottom: 0;
}




.benefits-container {
  padding: var(--space-xxl);
}

.benefits-container h2 {
  color: var(--hubsy-beige);
  margin-bottom: var(--space-lg);
  font-size: var(--h1-size);
}

/* Laptop 11 inches */
@media screen and (max-width: 1070px) {
  /* Up to that screen width, the following rules apply: */
  /* .prices {
    flex: 1 1 50%;
  }
  
  .benefits {
    flex: 1 1 50%;
  } */
  /* .grid {
    grid-template-columns: repeat(2, 2fr);
  } */
}

/* iPad */
@media screen and (max-width: 850px) {
  /* Up to that screen width, the following rules apply: */
  .prices, .benefits {
    flex: 1 1 100%;
  }

  .prices-container {
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  }

  #pricing-page .column-layout h2 {
    font-size: var(--h1-size-mobile);
  }
  
}

/* Mobile (Iphone, Pixel, Galaxy) */
@media screen and (max-width: 560px) {
  /* Up to that screen width, the following rules apply: */
}