#rooms-page .page-section {
  margin-top: 0;
}

.rooms {
  padding-top: calc(var(--space-xl) * 2);
  padding-bottom: var(--space-xxl);
}

.rooms h3 {
  display: inline;
}

.rooms a > p:hover {
  text-decoration: underline;
}

.rooms .grid {
  margin-top: var(--space-lg);
}