.shop-hero {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: flex-end;
}

.shop-hero-title {
  background: var(--white-lighter);
  height: 100%;
  width: fit-content;
  transform: translateY(var(--space-md));
  border-radius: var(--radius-md) var(--radius-md) 0 0;
  box-shadow: 0px -10px 12px rgba(25, 25, 25, 0.1);
}

.shop-hero-title h1 {
  padding: var(--space-sm) var(--space-lg) 0 var(--space-lg);
  margin: 0;
}

.shop-hero-title p {
  margin: var(--space-sm) var(--space-lg) 0 var(--space-lg);
}

/* .shop-hero h3 {
  color: white;
  margin-top: var(--space-sm);
} */

/* .shop-right-container {
  flex: 1 0 50%;
} */

.shop-map-container {
  width: 100%;
  height: 250px;
  box-shadow: var(--shadow-light);

}

#contact a {
  color: inherit;
}

.button-item-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}