.shops-container {
  flex: 1 0 40%;
}

.shops-container .card {
  margin-top: var(--space-lg);
}


.map-container {
  flex: 1 0 60%;
  /* padding-top: var(--space-lg);
  padding-left: var(--space-lg); */
  padding-top: var(--space-lg);
  padding-left: var(--space-lg);
}

.shops-map-container {
  width: 100%;
  height: 75vh;
  position: sticky;
  top: var(--navbar-height);
}


@media screen and (max-width: 1070px) {
  /* Up to that screen width, the following rules apply: */
  .shops-container, .map-container {
    flex: 1 0 50%;
  }
}

@media screen and (max-width: 850px) {
  /* Up to that screen width, the following rules apply: */
  .shops-container, .map-container {
    flex: 1 0 100%;
  }
}

@media screen and (max-width: 560px) {
  /* Up to that screen width, the following rules apply: */
  .map-container {
    padding-left: 0;
  }
}