#shop-page .column-layout {
  padding-top: var(--space-xs);
}

.shop-hero {
  display: flex;
  align-items: flex-end;
}

.shop-hero .container {
  transform: translateY(var(--space-md));
}

.shop-hero-title {
  background: var(--white-lighter);
  height: 100%;
  width: fit-content;
  border-radius: var(--radius-md) var(--radius-md) 0 0;
  box-shadow: var(--shadow-top);
}

.shop-hero-title h1 {
  padding: var(--space-sm) var(--space-lg) 0 var(--space-lg);
  margin: 0;
}

.shop-hero-title p {
  margin: var(--space-sm) var(--space-lg) 0 var(--space-lg);
}

.shop-map-container {
  width: 100%;
  height: 250px;
  box-shadow: var(--shadow-light);

}

#contact a {
  color: inherit;
}

.button-item-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}



@media screen and (max-width: 850px) {
  .shop-hero .container {
    transform: translateY(calc(var(--space-xl) * 2.2));
  }

  .shop-hero .shop-hero-title {
    width: 100%;
  }

  #shop-page .column-layout {
    padding-top: var(--space-xxl);
  }

  .shop-hero-title h1 {
    font-size: var(--title-size-mobile);
  }

  .button-item-container .button {
    transform: translateY(-0.3rem);
  }

  .column-one {
    order: 1
  }

  .column-two {
    order: 0
  }
}

