@import url('config/colours.css');
@import url('config/sizes.css');
@import url('config/fonts.css');
@import url('config/reset.css');
@import url('config/utilities.css');
@import url('config/animations.css');

@import url('layout/container.css');
@import url('layout/column.css');
@import url('layout/grid.css');

/* Text */
body {
  font-family: var(--font);
  line-height: var(--line-height);
  background: var(--white-lighter);
}

/* h1, h2, h3, h4, p, a, span, div {
  font-family: var(--font);
} */

h1 {
  font-size: var(--h1-size);
  font-weight: 800;
  color: var(--black-dark);
  letter-spacing: -0.02rem;
  margin-bottom: var(--space-xl);
}

h2 {
  font-size: var(--h2-size);
  font-weight: 700;
  color: var(--black-normal);
  margin-bottom: var(--space-lg);
}

h3 {
  font-size: var(--h3-size);
  font-weight: 600;
  color: var(--black-light);
  margin-bottom: var(--space-md);
}

p, .text {
  font-size: var(--text-size);
  font-weight: 400;
  color: var(--black-normal);
  margin-top: var(--space-sm);
}

.text-small {
  font-size: var(--text-small-size);
  font-weight: 300;
  color: var(--black-light);
}