@import url('config/colours.css');
@import url('config/sizes.css');
@import url('config/fonts.css');
@import url('config/reset.css');
@import url('config/layouts.css');
@import url('config/utilities.css');


/* Text */
body {
  font-family: var(--font);
  line-height: var(--line-height);
  background: var(--white-lighter);
}

/* h1, h2, h3, h4, p, a, span, div {
  font-family: var(--font);
} */

h1 {
  font-size: var(--h1-size);
  font-weight: 800;
  color: var(--black-dark);
  letter-spacing: -0.02rem;
  margin-bottom: var(--space-xl);
}

h2 {
  font-size: var(--h2-size);
  font-weight: 700;
  color: var(--black-normal);
  margin-bottom: var(--space-sm);
}

h3 {
  font-size: var(--h3-size);
  font-weight: 700;
  color: var(--black-light);
}

p, .text {
  font-size: var(--text-size);
  font-weight: 400;
  color: var(--black-normal);
  margin-top: var(--space-xs);
}

.text-small {
  font-size: var(--text-small-size);
  font-weight: 300;
  color: var(--black-light);
}

/* @media (max-width: $width-sm) {
  .container {
    width: 540px;
  }
}

@media (max-width: $width-md) {
  .container {
    width: 720px;
  }
}

@media (max-width: $width-lg) {
  .container {
    width: 960px;
  }
} */



/* Media queries */
/* @media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
} */